@import 'tailwindcss';

.container {
	max-width: 1240px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}
button,
input {
	outline: none;
}
input {
	background: #151515;
	color: #a1a1a1;
	transition: 0.2s ease;
}
input:focus {
	outline: 2px solid #a1a1a1;
}
a {
	position: relative;
}
a::before {
	content: '';
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 1px;
	background: #fff;
	transition: 0.3s ease;
	transform: scale(0);
}
a:hover::before {
	transform: scale(1);
}
